#section-6 {
    height: 85vh;
    margin-top: 8em;
    scroll-snap-align: start;
    width: 100%;
    margin-bottom: 1em;
}



.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title1 h1 {
    font-weight: 500;
    margin: 0;
    user-select: none;
    font-size: 130px;
}

#addon1 img {

    user-select: none;
    width: 3.5em;
    height: 3.5em;
}

#addon2 img {

    user-select: none;
    width: 3.5em;
    height: 3.5em;
}

.light,
.light1 {
    visibility: visible;
    display: inline;
}

.dark,
.dark1 {
    visibility: hidden;
    display: none;

}



@media (prefers-color-scheme: dark) {

    .light,
    .light1 {
        visibility: hidden;
        display: none;
    }

    .dark,
    .dark1 {
        visibility: visible;
        display: inline;

    }
}

.container {
    color: #FEFCED;
    position: relative;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 100%;
    flex-wrap: wrap;
}


.container .box {
    width: 11.875em;
    height: 13.875em;
    padding: 1rem;
    background-color: #282622;
    border: 1px solid #605C54;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
}

.container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    top: 0;
}

.container .box .logo3,
.dashinit,
.old23,
.old22 {
    height: 8em;
    width: 8em;
    user-select: none;
    position: absolute;
    top: 10;
}

.container .box .logodark,
.dashinitdark,
.old23dark,
.old22dark {
    height: 8em;
    width: 8em;
    visibility: hidden;
    user-select: none;
    position: relative;
    top: 0;
}

.dashinit-link {
    text-decoration: none;
    color: #FEFCED;
}

.container .box div strong {
    display: block;
    margin-bottom: 0.5rem;



}

.container .box div p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;

}

.container .box div span {
    font-size: 0.7rem;
    font-weight: 300;

}


.container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: 0.2rem;

}

.container .box:hover {
    box-shadow: 0px 0px 20px 1px #C0FE1F;
    border: 1px solid #605C54;
}

@media (prefers-color-scheme: light) {

    .container .box .logo3,
    .dashinit,
    .old23,
    .old22 {
        visibility: 1;
    }
}



@media (prefers-color-scheme: dark) {

    .container .box .logodark,
    .dashinitdark,
    .old23dark,
    .old22dark {
        visibility: visible;
        display: inline;
    }

    .container .box .logo3,
    .dashinit,
    .old23,
    .old22 {
        visibility: hidden;
        display: none;
    }
}


@media (prefers-color-scheme: light) {
    .container .box:hover {
        box-shadow: 0px 0px 20px 1px #7b41f5;
        border: 1px solid #C5C4B9;
    }

    .container .box {
        background-color: #ECEADC;
        border: 1px solid #C5C4B9;
    }

    .container {
        color: #181816;

    }

    .dashinit-link {
        color: #181816;
    }
}