.section-5 {
    height: 100vh;
}



.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title-gallery {
    font-size: 130px;
    font-weight: 500;
    margin: 0;
    user-select: none;

    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

}



#addon1 img {
    user-select: none;
}

#addon2 img {
    transform: scaleX(-1);
    user-select: none;
}

.light,
.light1 {
    visibility: visible;
    display: inline;
}

.dark,
.dark1 {
    visibility: hidden;
    display: none;

}

@media (prefers-color-scheme: dark) {

    .light,
    .light1 {
        visibility: hidden;
        display: none;
    }

    .dark,
    .dark1 {
        visibility: visible;
        display: inline;

    }
}


.Gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.Gallery {
    display: flex;
    justify-content: center;
    height: auto;
    font-weight: 200;
    gap: 2em;
    align-items: center;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;

}



.Gallery img {
    height: 37em;
    width: 28em;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10 {
    user-select: none;
    transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover,
.img10:hover {
    transform: scale(1.05);
    border-radius: 16px;
}