div.landing {
	display: flex;
	height: 90vh;
	font-weight: 200;
	gap: 0em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hey {
	display: grid;
	place-items: center;
	font-size: 50px;
	align-items: center;
	font-weight: 400;
	user-select: none;

	p {
    margin: 0;
		user-select: none;
	}
}

.name {
	font-weight: 600;
	font-style: italic;
	font-size: 270px;
	letter-spacing: -15px;
	place-items: center;

	p {
		margin: 0;
		margin-top: -30px;
		user-select: none;
	}
}

.arrowdown {
  width: 3em;
  height: 3em;

  svg {
    width: 3em;
    height: 3em;
    -webkit-animation-name: jumping-arrow;
    -moz-animation-name: jumping-arrow;
    animation-name: jumping-arrow;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: once;
    -moz-animation-iteration-count: once;
    animation-iteration-count: once;
    -webkit-animation-fill-mode: once;
    animation-fill-mode: once;
    -webkit-animation-delay: 2s; /* Delay of 2 seconds */
    -moz-animation-delay: 2s; /* Delay of 2 seconds */
    animation-delay: 2s; /* Delay of 2 seconds */
    cursor: pointer;
  }
  
}


@-moz-keyframes jumping-arrow {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes jumping-arrow {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes jumping-arrow {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

