@media (max-width: 850px) {
    .title1 h1 {
        font-size: 65px;
    }

    #addon2 img {
        width: 3em;
        height: 3em;
        margin-right: 1em;
    }

    #addon1 img {
        width: 3em;
        height: 3em;
        margin-left: 1em;
    }

    .About {
        flex-direction: column;
        gap: 0;

    }

    .who {
        font-size: 60px;

    }

    .text-1 {
        font-size: 20px;

    }

    .text-2 {
        font-size: 20px;

    }
}

@media (max-width: 768px) {
    .title1 h1 {
        font-size: 90px;
        margin-left: -0.2em;
        margin-right: -0.2em;
    }

    #addon2 img {
        width: 2em;
        height: 2em;
    }

    #addon1 img {
        width: 2em;
        height: 2em;
    }

    .About {
        flex-direction: column;
        gap: 0;
        margin-top: 0px;

    }

    .picture {
        width: 363px;
        height: 470px;
    }

    .who {
        font-size: 54px;

    }

    .text-1 {
        font-size: 18px;

    }

    .text-2 {
        font-size: 18px;

    }
}

@media (max-width: 380px) {
    .title1 h1 {
        font-size: 75px;
        margin-left: -0.3em;
        margin-right: -0.3em;
    }

    #addon2 img {
        width: 1.8em;
        height: 1.8em;
    }

    #addon1 img {
        width: 1.8em;
        height: 1.8em;
    }

    .About {
        flex-direction: column;
        gap: 0;
        margin-top: 0px;

    }

    .picture {
        height: 25em;
        width: 20em;
    }

    .who {
        font-size: 45px;

    }

    .text-1 {
        font-size: 15px;

    }

    .text-2 {
        font-size: 15px;

    }
}