@media (max-width: 678px) {
    #section-6 {
        height: 155vh;
    }

    .title1 h1 {
        font-size: 75px;
        margin-left: -0.3em;
        margin-right: -0.3em;
    }

    #addon2 img {
        width: 2em;
        height: 2em;
        margin-right: 0em;
    }

    #addon1 img {
        width: 2em;
        height: 2em;
        margin-left: 0;
    }
 

    .container {
        flex-direction: column;
        margin-bottom: 1em;
        pointer-events: none;
        justify-content: space-around;


    }

    .container .box {
        width: 16.625em;
        height: 9.7125em;

    }

    .container .box .logodark,
    .dashinitdark,
    .old23dark,
    .old22dark,
    .dashinit,
    .old23,
    .old22 {
        width: 5.6em;
        height: 5.6em ;
    }

    .container .box .logo3 {
        width: 5.6em;
        height: 5.6em ;
    }
}

