
@media (max-width: 650px) {
    .Gallery-container {
        flex-direction: column;
        margin-bottom: 1em;
    }
}

@media (max-width: 850px) {
    .Gallery img {
        margin-bottom: 0;
        height: 30em;
        width: 22em;
    }
    p {
        font-size: 90px;
    }

    #addon2 img {
        width: 1.8em;
        height: 1.8em;
    }

    #addon1 img {
        width: 1.8em;
        height: 1.8em;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9,
    .img10 {
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .Gallery img {
        margin-bottom: 0;
        height: 30em;
        width: 22em;
    }
    p {
        font-size: 80px;
        margin-left: -0.2em;
        margin-right: -0.2em;
    }

    #addon2 img {
        width: 2em;
        height: 2em;
        margin-right: 0em;
    }

    #addon1 img {
        width: 2em;
        height: 2em;
        margin-left: 0;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9,
    .img10 {
        pointer-events: none;
    }
}


@media (max-width: 380px) {
    .Gallery img {
        margin-bottom: 0;
        height: 27em;
        width: 22em;
    }
    p {
        font-size: 75px;
        margin-left: -0.3em;
        margin-right: -0.3em;
    }

    #addon2 img {
        width: 1.8em;
        height: 1.8em;
        margin-right: 0em;
    }

    #addon1 img {
        width: 1.8em;
        height: 1.8em;
        margin-left: 0;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9,
    .img10 {
        pointer-events: none;
    }
}
