@media (max-width: 850px) {
    .hey {
        font-size: 30px;
    }

    .name {
        font-size: 110px;
        letter-spacing: -7px;
        margin-top: 10px;
    }

    .arrowdown {
        width: 3em;
        height: 3em;

        svg {
            width: 3em;
            height: 3em;
        
        }
    }
}

@media (max-width: 678px) {
    .hey {
        font-size: 27px;
    }

    .name {
        font-size: 85px;
        letter-spacing: -7px;
        margin-top: 10px;
    }

    .arrowdown {
        width:2em;
        height: 2em;

        svg {
            width: 2em;
            height: 2em;
        
        }
    }

    div.landing {
        height: 70vh;
    }

   
    @-moz-keyframes jumping-arrow {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateY(0);
            transform: translateY(0);
        }
        40% {
            -moz-transform: translateY(-20px);
            transform: translateY(-20px);
        }
        60% {
            -moz-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
    @-webkit-keyframes jumping-arrow {
        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        40% {
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }
        60% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
    @keyframes jumping-arrow {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        40% {
            -moz-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }
        60% {
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }

}

@media (max-width: 380px) {
    .hey {
        font-size: 23px;
    }

    .name {
        font-size: 75px;
        letter-spacing: -7px;
        margin-top: 14px;
    }

    

    div.landing {
        height: 70vh;
    }

}