@media (max-width: 678px) {
    #section-6 {
        height: 100vh;
    }
    .card-container  {
        flex-direction: column;  
        margin-bottom: 1em;
    }

    .title1 h1 {
        font-size: 75px;
        margin-left: -0.3em;
        margin-right: -0.3em;
    }
    #addon2 img {
        width: 2em;
        height: 2em;
        margin-right: 0em;
    }

    #addon1 img {
        width: 2em;
        height: 2em;
        margin-left: 0;
    }


    .card {
        width: 21em;
        height: 15.7em;
        margin-bottom: 1em;
        pointer-events: none;
       }
    
    .image {
        width: 21em;
        height: 13.2em; 
    }

}



