@media (max-width: 850px) {
    .text {
        font-size: 35px;
        letter-spacing: -2.5px;
    }
}

@media (max-width: 678px) {
    .text {
        font-size: 30px;
        letter-spacing: -2.4px;
    }
}

@media (max-width: 380px) {
    .text {
        font-size: 29px;
        letter-spacing: -2.3px;
    }
}